@import "../../../assets/styles/color.scss";

.container {
  .label {
    display: block;
    width: 100%;

    font-size: 1.6rem;

    span {
      display: block;
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
    }

    .input {
      width: 100%;
      padding: 1.4rem 1.2rem;

      font-size: 1.8rem;

      border-radius: 5px;
      border: 1px solid #000;
      outline: none;
      transition: all linear 0.25s;

      &:focus {
        border: 1px solid $primary;
      }
    }

    .helperText {
      margin-top: 1.2rem;

      font-size: 1.6rem;

      transition: all linear 0.25s;

      &.error {
        color: $error;
      }
    }
  }
}
