.dropdown {
  position: relative;

  .dropdown {
    position: absolute;

    z-index: 99;

    &.top {
      top: 0;
      left: 0rem;

      transform: translateY(-100%);
    }

    &.left {
      top: 0;
      left: 0;

      transform: translateX(-100%);
    }

    &.bottom {
      bottom: 0;
      left: 0;

      transform: translateY(100%);
    }

    &.right {
      right: 0;
      top: 0;

      transform: translateX(100%);
    }
  }
}
