@import "../../assets/styles/color.scss";

.container {
  display: flex;

  .chattedUserList {
    width: 34rem;
    height: 100vh;
    border-right: 1px solid $border-color;

    flex-shrink: 0;
    overflow-y: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .conversationSection {
    flex-grow: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;

    .conversationTitle {
      border-bottom: 1px solid $border-color;
    }

    .conversationContent {
      flex-grow: 1;
      overflow: hidden;
    }

    .conversationAction {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    .conversationInput {
      padding: 0.8rem 0.8rem 0.8rem 0.2rem;
      flex-grow: 0;
    }
  }
}
