@import "./color.scss";

.container {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 0.6rem 1.2rem;

  cursor: pointer;
  transition: all linear 0.1s;

  &.active {
    background-color: #d1e4f2;
  }

  & > div {
    transition: all linear 0.2s;
  }

  &:hover {
    background-color: #eee;

    & > div {
      transform: translateX(4px);
    }
  }

  .right {
    margin-left: 0.8rem;
    overflow: hidden;

    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .content {
      flex-grow: 1;
      margin-right: 0.6rem;
      overflow: hidden;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.4rem;

        .title {
          margin-left: 0;
          margin-bottom: 0.8rem;
        }

        .time {
          font-size: 1.4rem;
          width: 6rem;
          max-width: 6rem;
          min-width: 5.6rem;
          text-align: end;
        }
      }

      .message {
        font-size: 1.4rem;
        color: $text-gray-color;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
