@import "./color.scss";

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 3.2rem 2.4rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;

    .logoContainer {
      width: 10rem;
      height: 10rem;
      text-align: center;
      position: relative;

      margin: 0 auto;

      .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border-radius: 50%;
        object-fit: contain;
        object-position: center;
      }
    }

    .title {
      font-size: 3.2rem;
      font-weight: 500;
      text-align: center;

      margin-bottom: 3.2rem;
    }

    .signUp {
      text-align: end;

      span {
        margin-left: 0.6rem;

        color: $primary;
        text-decoration: underline;

        cursor: pointer;
      }
    }
  }
}
