.container {
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all 0.15s linear;

  &:hover {
    background-color: #eee;
  }

  p {
    margin-left: 1.4rem;
  }
}
