.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .background {
    width: 100%;
    min-height: 40px;
    height: 160px;
    max-height: 160px;

    background-position: center;
    background-size: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      transform: translateY(-50%);
    }

    .fullName {
      font-size: 2.4rem;
      font-weight: bold;

      margin-bottom: 3rem;
    }

    .phone {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
