@import "../../../../assets/styles/color.scss";

$active-color: #0052cb;
$hover-color: #1269c0;

.header {
  height: 100vh;
  background-color: $primary;
  padding: 2.4rem 0 1.2rem 0;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  .avatarContainer {
    display: flex;
    justify-content: center;
  }

  .nav {
    margin-top: 1.2rem;

    &.mtAuto {
      margin-top: auto;
    }

    .navItem {
      padding: 2.4rem;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all linear 0.1s;
      cursor: pointer;

      svg {
        width: 2.6rem;
        height: 2.6rem;

        transition: all linear 0.1s;
      }

      &.active {
        background-color: $active-color;

        border-left: 4px solid #fff;
      }

      &:hover {
        background-color: $hover-color;

        svg {
          transform: translateX(4px);
        }
      }
    }
  }
}
