@import "../../assets/styles/color.scss";

.form {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  div {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  button {
    margin-top: 2rem;
  }
}
